
.login2background{    
    background-image: url();
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    text-align: center; 
}

.centered {
    margin: 0 auto;
}

.loginbox{  
    background: white;
    color: black;    
    padding: 20px 30px;   
    box-shadow: 0 8px 50px -2px #000;
    border-radius:5px;
    margin: 40px auto;
}
.logo{
    width: 130px; 
    height: 55px;
    margin-left: 10%;
}
@media (max-width:767px) {
    .loginbox{ 
        margin-top: 10%;
    }    
}

.loginbox_content{
    padding:30px 0px;

}

.singtext{
    font-family: "Open Sans",sans-serif;
    font-size: 27px;  
    color: black;
    text-align: left;
}

.login-btn-container {
    text-align: right;
}

.forgotpassword{
    padding-left: 10%;
}
@media (max-width:800px) {
    .submit-btn{
        
        margin-right: 23%;
    }

   
}