.background {
    background-color: black; 
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

 .terminal-round {
    border-radius: 5px;
 }

 .terminal-window {
    box-shadow: 0 8px 35px -8px #000;
    border-radius: 8px;
    margin: 7px auto;
    overflow: hidden;
 }

 .close-icon {
    width: auto;
    height: 11px;
    margin: 6px;
 }

 .terminal-color {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,dfe1df+0,c1c0c2+6 */
    background: #7db9e8; /* Old browsers */
    background: -moz-linear-gradient(top, #7db9e8 0%, #dfe1df 0%, #c1c0c2 6%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #7db9e8 0%,#dfe1df 0%,#c1c0c2 6%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7db9e8 0%,#dfe1df 0%,#c1c0c2 6%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#c1c0c2',GradientType=0 ); /* IE6-9 */
 }

 .close-button {
     padding-left: 15px; 
 }

 .terminal-menu {
     height: 26px;
 }

 .terminal-row {
     padding-left: 15px;
 }

 .terminal-col {
     padding-right: 15px;
     padding-left: 0px;
 }

 .terminal-username {
     padding-left: 0px;
     padding-right: 39px;  
 }

 .avatar {
    width: auto;
    height: 60px;
    margin: 8px;
    border-radius: 50%;
    box-shadow: 0 8px 10px -7px #000;
 }

 .username {
    margin-bottom: 0rem;
    font-size: 85%;
 }

 .upper-row {
    background: rgba(240, 240, 240, 0.35);
    border-radius: 7px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 15px 0px 10px;
 }

 .userbar {
    margin: 0px 7px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
 }

 .user {
    flex: 0 0 auto;
 }

 ::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

