 .terminal-window {
    box-shadow: 0 8px 35px -8px #000;
    border-radius: 8px;
    margin: 7px auto;
    overflow: hidden;
    border-top: 1px solid #dee2e6 !important;
    border-color: #fff !important;
 }

 .terminal-bar {
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,dfe1df+0,c1c0c2+81 */
    background: #7db9e8; /* Old browsers */
    background: -moz-linear-gradient(top, #7db9e8 0%, #dfe1df 0%, #c1c0c2 81%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #7db9e8 0%,#dfe1df 0%,#c1c0c2 81%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7db9e8 0%,#dfe1df 0%,#c1c0c2 81%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#c1c0c2',GradientType=0 ); /* IE6-9 */

    height: 26px;
    text-align: center !important;
    border-bottom: 1px solid #6c757d !important;
 }

 .terminal-row {
     padding-left: 15px;
 }

 .terminal-col {
    padding-right: 15px;
    padding-left: 0px;
 }

 .terminal-username {
    padding-left: 0px;
    padding-right: 39px;  
 }

 .terminal-container {
     opacity: 0.8;
     /* height: 600px; */
     margin-bottom: -7px;
 }

 .close-button {
    width: auto;
    height: 11px;
    margin: 6px;
    padding-left: 15px; 
 }

 .avatar {
    width: auto;
    height: 55px;
    margin: 8px;
    border-radius: 50%;
    box-shadow: 0 8px 10px -7px #000;
 }

 .username {
    margin-bottom: 0rem;
    font-size: 85%;
 }

 .userbar {
    background: rgba(240, 240, 240, 0.35);
    border-radius: 7px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 30px 0px 20px;
    border-bottom: 1px solid #fff!important;
    min-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
 }

 .user {
    flex: 0 0 auto;
 }

 .this-user {
    margin-left: auto;
}

 .content-wraper {
     margin: 0px 60px;
 }

 .nopadding {
     padding: 0 !important;
 }

 .notification {
    position: absolute;
    min-width: 100%;
    background: #fffffffa;
    margin-top: -96px;
    border-top: 1px solid #fff!important;
    border-radius: 4px;
 }

 .notification-button {
    margin-right: 5px;
 }

 .button-row {
    margin-top: 19px;
    margin-bottom: 23px;
 }

 .notification-text {
    margin-left: -4px;
    margin-top: 7px;
    font-size: 110%;
    text-shadow: 1px 1px 67px #0000005e;
 }

 ::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
}

.react-grid-layout {
    position: relative;
    transition: height 200ms ease;
}
.react-grid-item {
    transition: all 200ms ease;
    transition-property: left, top;
}
.react-grid-item.cssTransforms {
    transition-property: transform;
}
.react-grid-item.resizing {
    z-index: 1;
}

.react-grid-item.react-draggable-dragging {
    transition: none;
    z-index: 3;
}

.react-grid-item.react-grid-placeholder {
    background: #000;
    opacity: 0.1;
    transition-duration: 100ms;
    z-index: 2;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.react-grid-item:hover > .react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
    background-position: bottom right;
    padding: 0 3px 3px 0;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    cursor: se-resize;
}
